.comments-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    .comments-list {
        height: fit-content;
        overflow-y: scroll;
    }
}