.comment-card {
    width: 100%;
    display: flex;
    margin-bottom: 10px;

    .comment-info {
        max-width: 100px;
        width: 100%;
        margin-right: 50px;
    }
    .comment-body {
        max-width: 800px;
        width: 100%;
    }
}